.intro {
  padding: 30px 0 105px 0;

  @include mobile {
    padding: 55px 29px;
    box-sizing: border-box;
  }

  @include tablet {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }

  &__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0 0 40px 0;

    @include mobile{
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 47px;
    line-height: 59px;
    margin: 0;
    padding: 0;
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin: 0;
    padding: 0 0 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  &__lang-selector {
    transform: rotate(180deg);
    padding: 0 50px 30px 0;
  }

  &__burger {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    width: 33px;
    height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;

    @include mobile {
      display: flex;
    }
  }

  &__burger-line {
    display: block;
    background-color: black;
    width: 33px;
    height: 4px;
    &::after {
      content: "";
      display: block;
      background-color: black;
      width: 33px;
      height: 4px;
      margin-top: 12px;
    }

    &::before {
      content: "";
      display: block;
      background-color: black;
      width: 33px;
      height: 4px;
      margin-top: -8px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    object-fit: cover;

    @include not-mobile {
      margin-bottom: -150px;
    }

    @include mobile {
      margin-top: -65%;
      width: 143%;
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @include not-mobile  {
      max-height: 387px;
    }
  }
}
