.lang {
  &-selector {
    writing-mode: vertical-rl;
    width: max-content;
    align-self: center;
    margin: 0;
    font-weight: 700;

    @include mobile {
      display: none;
    }
  }

  &-item {
    color: #828282;
    text-decoration: none;
    &_active {
      color: #000;
    }
    @include scalable-link(1.3);
  }
}
