.about {
  margin: 0;
  padding: 110px 0;

  &__title {
    margin: 0 auto 22px;
  }

  &__paragraph {
    margin: 0 auto 43px;
    padding: 0;
    max-width: 485px;

    &:last-child {
      margin: 0 auto;
    }
  }
}
